body {
  background-color: #16213e;
  max-width: 100vw;
  overflow: hidden;
}

.left-comp {
  background-color: #1f1f1f;
}

.input-div {
  bottom: 3.5rem;
  width: 100%;
}

.right-comp {
  height: 100%;
  width: 80%;
  margin: auto;
}
.chat {
  height: 63vh;
  font-size: 1.2rem;
  margin-bottom: 3vh;
}
.logo-desc {
  height: 20vh;
  margin-bottom: 3vh;
  text-align: center;
}
.right-comp textarea {
  width: 100%;
  margin-right: 1rem;
  border-radius: 5px;
  height: 3rem;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  max-height: 4rem;
}
.icon {
  font-size: 4rem;
}
.send {
  width: 4rem;
  /* font-size: 1rem; */
}

/* Media-Queries */
@media screen and (max-width: 1000px) {
  .left-comp {
    display: none !important;
  }
  .col-10 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
}
